<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ng-repeat</title>
    <style>
    </style>
    <script src="lib/angular.min.js"></script>
    <script>
        var m1 = angular.module('myApp', []);
        m1.controller('Aaa', ['$scope', function ($scope) {
            $scope.arr=[['a','b'],['c','d']];
        }])
    </script>
</head>

<body>
    <div ng-controller="Aaa">
        <div ng-repeat="arrOuter in arr" ng-init="outerIndex=$index">
            <div ng-repeat="arrInner in arrOuter" ng-init="innerIndex=$index">
                <p>{{arrInner}}:{{outerIndex}}{{innerIndex}}</p>
            </div>
        </div>
    </div>
    <script>
        
    </script>
</body>

</html>