<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>ng-repeat</title>
	<style>
		#parent div{
			width: 300px;
			height: 500px;
			border: 1px solid #000;
			margin: 20px
		}
		#parent ul{
			width: 200px;
			position: fixed;
			top: 0;
			right: 0;
		}
	</style>
	<script src="lib/angular.min.js"></script>
	<script>
		var m1 = angular.module('myApp', []);
		m1.controller('Aaa', ['$scope', '$location','$anchorScroll',function ($scope,$location,$anchorScroll) {
			//var a = $location.absUrl();
			// $location.path('aaa').replace();
			// $location.hash('hello');
			// $location.search({'age':'20'});
			// var a=$location.protocol();
			// console.log(a);
			$scope.change=function(id){
				$location.hash(id);
				$anchorScroll();
			}
		}])
	</script>
</head>

<body>
	<div id="parent" ng-controller="Aaa">
		<ul>
			<li ng-repeat="id in [1,2,3,4,5]" ng-click="change('div'+id)">{{id}}aaaaaaaaaa</li>
		</ul>
		<div ng-repeat="id in [1,2,3,4,5]" ng-attr-id="div{{id}}">{{id}}</div>
	</div>
</body>

</html>