<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!--
    https://www.jianshu.com/p/382ac5f9d6ff
    https://www.cnblogs.com/whaleAlice/p/12488998.html
    http://www.qiutianaimeili.com/html/page/2019/09/uudmg0p3mbc.html
    https://www.jianshu.com/p/e8ff1e1cafb1
    https://github.com/SortableJS/Vue.Draggable
    https://sortablejs.github.io/Vue.Draggable/#/table-example
    https://www.zhihu.com/people/jiu-zhe-yang-40-55
    https://blog.csdn.net/zjiang1994/article/details/79809687
  --></body>
</html>
